body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

header {
  background-color: #f37021;
  color: white;
  text-align: center;
  padding: 15px;
  position: relative;
}

.poke-logo {
  width: 200px;

}

#app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.error-message {
  color: #d32f2f;
  font-weight: bold;
}

#searchInput {

  padding: 8px;
  margin: 0 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#searchBtn, #prevBtn, #nextBtn, #azarBtn, #selector {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#searchBtn {
  background-color: #4caf50;
  color: white;
}

#prevBtn, #nextBtn, #azarBtn, #selector {
  background-color: #2196F3;
  color: white;
}

#searchBtn:hover, #prevBtn:hover, #nextBtn:hover, #azarBtn:hover, #selector:hover {
  opacity: 0.8;
}

/*Vamos a dar estilo a la caja de pokemon que se pinta 
desde el javascript*/
.contenedorPokemon{
  width: 250px;
  height: auto;
  padding: 5px 10px;
  border: 2px solid rgb(116, 116, 116);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.infoBasica{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:10px;
}
.id{
  padding: 10px;
  width: 15px;
  height: 20px;
  display: flex;
  align-items: center; 
  justify-content: center;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-color: #f2f2f27e;
}

.id:before{
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background-image: url(../assets/img/Pokemon-Pokeball.png);
  background-repeat: no-repeat;
  background-size: cover;
  } 
.nombre{
  font-weight: bolder;
  font-style: italic;

}
.pokemon-imagen {
  display: flex;
  justify-content: center;
}

.tipos_Altura, .peso_altura{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:15px;
 margin-top: -14px;
 margin-bottom: -14px;
  
 }
.tipo_texto, .medida{
  text-transform: uppercase;
  border: 1px black solid;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 2px 2px 2px 1px  grey;
}
.medida{
  background-color: #f3eeee80;
}
.pokemon-imagen img {
  width: 100%;
  max-width: 6rem;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.oculto{
  display:grid;
  grid-template-rows:0fr;
  transition: 0.3s grid-template-rows ease;
}
.contenedorPokemon:hover .oculto{
grid-template-rows:1fr;
}
.oculto > article{
  overflow:hidden;
}
.habilidades{
  display: flex;
flex-direction: row;
margin-top:-20px;
margin-bottom: -20px;
}
.hab{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.hab p{
  margin-top: -15px;
}
.estadisticas{
  width: 200px;
  display: flex;
justify-content: center;
  flex-direction: column;
align-items: center;
}
.estadisticas label{
  font-size: 14px;
  font-weight: 700;
  }


/*damos estilo a los distintos contenedores
segun el tipo de pokemon*/
.divgrass{
    position: relative;
    background-color: rgba(33, 250, 40, 0.301);
    overflow: hidden;
}

.divgrass:before{
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  background-image: url(../assets/img/Icon_Planta.webp);
  background-repeat: no-repeat;
  background-size: cover;
} 

.divwater{
  position: relative;
  background-color: rgba(2, 204, 255, 0.301);
  overflow: hidden;
}

.divwater:before{
content: ' ';
position: absolute;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
background-image: url(../assets/img/Icon_Agua.webp);
background-repeat: no-repeat;
background-size: cover;
} 

.divpoison{
  position: relative;
  background-color: rgba(170, 33, 250, 0.301);;
  overflow: hidden;
}

.divpoison:before{
content: ' ';
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
background-image: url(../assets/img/Icon_Veneno.webp);
background-repeat: no-repeat;
background-size: cover;
} 



.divelectric{
  position: relative;
  background-color: rgba(207, 204, 28, 0.301);;
  overflow: hidden;
}

.divelectric:before{
content: ' ';
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
background-image: url(../assets/img/Icon_El%3Fctrico.webp);
background-repeat: no-repeat;
background-size: cover;
} 
.divfire{
  position: relative;
  background-color: rgba(238, 11, 11, 0.301);
  overflow: hidden;
}

.divfire:before{
content: ' ';
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
background-image: url(../assets/img/Icon_Fuego.webp);
background-repeat: no-repeat;
background-size: cover;
} 

.divice{
  position: relative;
  background-color: rgba(26, 230, 213, 0.301);
  overflow: hidden;
}

.divice:before{
content: ' ';
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
background-image: url(../assets/img/Icon_Hielo.webp);
background-repeat: no-repeat;
background-size: cover;
} 

.divdragon{
  position: relative;
  background-color: rgba(70, 26, 230, 0.301);
  overflow: hidden;
}

.divdragon:before{
content: ' ';
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
background-image: url(../assets/img/Icon_Drag%3Fn.webp);
background-repeat: no-repeat;
background-size: cover;
} 

.divfighting{
  position: relative;
  background-color: rgba(167, 117, 52, 0.301);
  overflow: hidden;
}

.divfighting:before{
content: ' ';
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
background-image: url(../assets/img/lucha.png);
background-repeat: no-repeat;
background-size: cover;
} 
.divghost{
  position: relative;
  background-color: rgba(104, 26, 230, 0.301);
  overflow: hidden;
}

.divghost:before{
content: ' ';
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
background-image: url(../assets/img/ghost.png);
background-repeat: no-repeat;
background-size: cover;
} 
.divdark{
  position: relative;
  background-color: rgba(14, 9, 22, 0.301);
  overflow: hidden;
}

.divghost:before{
content: ' ';
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
background-image: url(../assets/img/ghost.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
} 

.divrock{
  position: relative;
  background-color: rgba(230, 125, 26, 0.301);
  overflow: hidden;
}

.divrock:before{
content: ' ';
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
background-image: url(../assets/img/roca.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
} 

.divbug{
  position: relative;
  background-color: rgba(26, 230, 43, 0.301);
  overflow: hidden;
}

.divbug:before{
content: ' ';
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
background-image: url(../assets/img/bicho.png);
background-repeat: no-repeat;
background-size: cover;
} 
.divpsychic{
  position: relative;
  background-color: rgba(26, 230, 43, 0.301);
  overflow: hidden;
}

.divpsychic:before{
content: ' ';
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
background-image: url(../assets/img/psyco.png);
background-repeat: no-repeat;
background-size: cover;
} 



ul{
  display: flex;
  flex-wrap: wrap;
}
li{
  padding-left: 10px;
  list-style: none;
  cursor: pointer;
}
