body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

header {
  background-color: #f37021;
  color: white;
  text-align: center;
  padding: 15px;
  position: relative;
}

.poke-logo {
  width: 200px;

}

#app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.error-message {
  color: #d32f2f;
  font-weight: bold;
}

#searchInput {

  padding: 8px;
  margin: 0 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#searchBtn, #prevBtn, #nextBtn, #azarBtn, #selector {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#searchBtn {
  background-color: #4caf50;
  color: white;
}

#prevBtn, #nextBtn, #azarBtn, #selector {
  background-color: #2196F3;
  color: white;
}

#searchBtn:hover, #prevBtn:hover, #nextBtn:hover, #azarBtn:hover, #selector:hover {
  opacity: 0.8;
}
.contenedorPokemon{
  width: 200px;
  height: auto;
  padding: 1rem;
  border: 2px solid rgb(116, 116, 116);
  border-radius: 5px;
justify-content: center;
align-items: center;
overflow: hidden;

}

.pokemon-imagen {
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
}

.pokemon-imagen img {
  width: 100%;
  max-width: 6rem;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.oculto{
  display:grid;
  grid-template-rows:0fr;
  transition: 0.3s grid-template-rows ease
}
.contenedorPokemon:hover .oculto{
grid-template-rows:1fr;
}
.oculto > article{
  overflow:hidden;
}
.estadisticas{
  width: 200px;
  display: flex;
text-align: start;
  flex-direction: column;
align-items: center;
}
.estadisticas label{
  font-size: 14px;
  font-weight: 700;
  }


/*damos estilo a los distintos contenedores
segun el tipo de pokemon*/
.divgrass{
    position: relative;
    background-color: rgba(33, 250, 40, 0.301);
    overflow: hidden;
}

.divgrass:before{
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  background-image: url(../assets/img/grass.png);
  background-repeat: no-repeat;
  background-size: cover;
} 

.divwater{
  position: relative;
  background-color: rgba(2, 204, 255, 0.301);
  overflow: hidden;
}

.divwater:before{
content: ' ';
position: absolute;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
background-image: url(../assets/img/water.png);
background-repeat: no-repeat;
background-size: cover;
} 

.divpoison{
  position: relative;
  background-color: rgba(170, 33, 250, 0.301);;
  overflow: hidden;
}

.divpoison:before{
content: ' ';
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
background-image: url(../assets/img/poison.png);
background-repeat: no-repeat;
background-size: cover;
} 



.divelectric{
  position: relative;
  background-color: rgba(207, 204, 28, 0.301);;
  overflow: hidden;
}

.divelectric:before{
content: ' ';
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
background-image: url(../assets/img/electrico.png);
background-repeat: no-repeat;
background-size: cover;
} 
.divfire{
  position: relative;
  background-color: rgba(238, 11, 11, 0.301);
  overflow: hidden;
}

.divfire:before{
content: ' ';
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
background-image: url(../assets/img/fire.png);
background-repeat: no-repeat;
background-size: cover;
} 

.divice{
  position: relative;
  background-color: rgba(26, 230, 213, 0.301);
  overflow: hidden;
}

.divice:before{
content: ' ';
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
background-image: url(../assets/img/hielo.png);
background-repeat: no-repeat;
background-size: cover;
} 

.didragon{
  position: relative;
  background-color: rgba(70, 26, 230, 0.301);
  overflow: hidden;
}

.divdragon:before{
content: ' ';
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
background-image: url(../assets/img/dragon.png);
background-repeat: no-repeat;
background-size: cover;
} 

.divlucha{
  position: relative;
  background-color: rgba(230, 142, 26, 0.301);
  overflow: hidden;
}

.divice:before{
content: ' ';
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
background-image: url(../assets/img/lucha.png);
background-repeat: no-repeat;
background-size: cover;
} 
.divghost{
  position: relative;
  background-color: rgba(104, 26, 230, 0.301);
  overflow: hidden;
}

.divghost:before{
content: ' ';
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
background-image: url(../assets/img/ghost.png);
background-repeat: no-repeat;
background-size: cover;
} 







ul{
  display: flex;
  flex-wrap: wrap;
}
li{
  padding-left: 10px;
  list-style: none;
  cursor: pointer;
}